# ================================
# Global System Settings
# ================================

# Timezone
TZ=Etc/UTC

# ================================
# Cloudflare Tunnel
# ================================

# Your Cloudflare Tunnel Token
CLOUDFLARE_TUNNEL_TOKEN=

# Optional: custom tunnel name
CLOUDFLARE_TUNNEL_NAME=infra-tunnel
